# Requirements of the standalone runtime - notably WITHOUT homeassistant.
aiohttp
pyyaml
voluptuous
pyserial
pyserial-asyncio
eltako14bus==1.0.1
esp2-gateway-adapter==0.2.21
enocean>=0.60.1
zeroconf
pytz
strenum
termcolor
